<footer id="myFooter" class="gradientFooter">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-sm-6 col-md-3">
                <h1 class="logo" style="margin-top:30px;"><a href="#" style="font-family:Armata, sans-serif;">&nbsp;Gritty<strong>[IT]</strong></a></h1>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
                <h5 style="font-family:Armata, sans-serif;">Get started</h5>
                <ul>
                    <li><a href="http://angeladuckworth.com/grit-scale/" target="_blank" style="cursor: default;">Grit Scale</a></li>
                    <li><a href="https://startwithwhy.com/find-your-why/" target="_blank" style="cursor: default;">Your Why?<br></a></li>
                    <li><a href="https://www.forentrepreneurs.com/power-of-free/" target="_blank"  style="cursor: default;">Power of FREE</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Snark_(Lewis_Carroll)" target="_blank" style="cursor: default;">[Snark] ^_^</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
                <h5 style="font-family:Armata, sans-serif;">Our Company</h5>
                <ul>
                    <li><a style="cursor: default;">Web Design</a></li>
                    <li><a style="cursor: default;">[Development]<br></a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-2">
                <h5 style="font-family:Armata, sans-serif;">Support</h5>
                <ul>
                    <li><a style="cursor: default;">Consulting</a></li>
                    <li><a href="http://www.laszlofeischmidt.com" target="_blank" style="cursor: default;">Personal Page</a></li>
                </ul>
            </div>
            <div id="contact" class="col-md-3 social-networks">
                <div></div>
                    <a href="https://github.com/feischml" target="_blank" class="github">
                        <i class="fa fa-github"></i>
                    </a>
                <a href="mailto:connect@grittyit.com">
                    <button class="btn btn-primary" type="button" style="margin-top:20px;font-family:Armata, sans-serif; box-shadow: 1px 1px 2px 1px rgba(109, 89, 57, 0.74);">Contact us</button>
                </a>
            </div>
        </div>
        <div class="row footer-copyright gradientFooterCopyright" style="height:25px;">
            <div class="col">
                <p style="font-family:Armata, sans-serif;font-size:13px;">&nbsp;Designed By&nbsp;<a href="http://www.laszlofeischmidt.com" target="_blank" style="cursor: default;">Laszlo Feischmidt</a></p>
            </div>
        </div>
    </div>
</footer>
