<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>

<div class="icon-bar-stickyup">
  <a class="stickyup" (click)="scrollTo('navbar')">&#x21E7;</a> 
</div>

<div class="icon-bar-stickyhow">
  <a class="stickyhow" (click)="scrollTo('how')">How</a> 
</div>

<div class="icon-bar-stickywhat">
  <a class="stickywhat" (click)="scrollTo('what4')">What</a> 
</div>

<div class="icon-bar-stickyteam">
  <a class="stickyteam" (click)="scrollTo('team')">About</a> 
</div>

<div class="icon-bar-stickywhy">
  <a class="stickywhy" (click)="scrollTo('why')">Why</a> 
</div>

<main class="page">
  <section class="clean-block about-us gradientWhy" style="background-color:#ecc7c0;padding-bottom:10px;">
      <app-whyandvalues></app-whyandvalues>
      <!--<app-what></app-what>-->
  </section>

    <app-how></app-how>

    <app-team></app-team>

</main>
<app-footer></app-footer>

