.icon-bar-sticky {
    position: fixed;
    top: 36%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .icon-bar-sticky a {
    display: block;
    text-align: center;
    padding: 7px;
    transition: all 0.3s ease;
    color: white;
    font-size: 8px;
    width: 40px;
  }
  
  .icon-bar-sticky a:hover {
    background-color: #000;
  }

  .how {
    background: rgba(208, 227, 204, 0.808);
    color: black;
    -webkit-transform: translateY(-440%);
    -ms-transform: translateY(-440%);
    transform: translateY(-440%);

  }

  .what {
    background: rgba(247, 255, 221, 0.705);
    color: white;
    -webkit-transform: translateY(-440%);
    -ms-transform: translateY(-440%);
    transform: translateY(-440%);
    
  }

  .why {
    background: rgba(252, 253, 175, 0.705);
    color: white;
    -webkit-transform: translateY(-560%);
    -ms-transform: translateY(-560%);
    transform: translateY(-560%);
  } 

  .team {
    background: rgba(239, 215, 128, 0.705);
    color: black;
    -webkit-transform: translateY(-320%);
    -ms-transform: translateY(-320%);
    transform: translateY(-320%);

  }

  .up {
    background: rgba(230, 152, 58, 0.63);
    color: white;
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(1700%);
  }
  
  .icon-bar-sticky .team {
    color: #3c2e3d
  }

  .icon-bar-sticky .up {
    font-size: 8px;
  }
  .icon-bar-sticky .how {
    color: #3c2e3d
  }

  .icon-bar-sticky .what {
    color: #3c2e3d
  }

  .icon-bar-sticky .why {
    color: #3c2e3d
  }

  .content {
    margin-left: 95px;
    font-size: 40px;
  }