.icon-bar-sticky {
    position: fixed;
    top: 90%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .icon-bar-sticky a {
    display: block;
    text-align: center;
    padding: 7px;
    transition: all 0.3s ease;
    color: white;
    font-size: 8px;
    width: 40px;
  }
  
  .icon-bar-sticky a:hover {
    background-color: #000;
  }

  .how {
    background: #D0E3CC;
    color: black;
    -webkit-transform: translateY(-320%);
    -ms-transform: translateY(-320%);
    transform: translateY(-320%);
  }

  .what {
    background: #F7FFDD;
    color: white;
    -webkit-transform: translateY(-440%);
    -ms-transform: translateY(-440%);
    transform: translateY(-440%);
    
  }

  .why {
    background: #FCFDAF;
    color: white;
    -webkit-transform: translateY(-560%);
    -ms-transform: translateY(-560%);
    transform: translateY(-560%);
  } 

  .team {
    background: #EFD780;
    color: black;
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  .up {
    background: #DBA159;
    color: white;
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-80%);
  }
  
  .icon-bar-sticky .team {
    color: #3c2e3d
  }

  .icon-bar-sticky .how {
    color: #3c2e3d
  }

  .icon-bar-sticky .what {
    color: #3c2e3d
  }

  .icon-bar-sticky .why {
    color: #3c2e3d
  }

  .content {
    margin-left: 95px;
    font-size: 40px;
  }