<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>

<div class="icon-bar-sticky">
  <a class="up" (click)="scrollTo('navbar')">&#x21E7;</a> 
</div>

<div class="icon-bar-sticky">
  <a class="how" (click)="scrollTo('how')">How</a> 
</div>

<div class="icon-bar-sticky">
  <a class="what" (click)="scrollTo('what4')">What</a> 
</div>

<div class="icon-bar-sticky">
  <a class="team" (click)="scrollTo('team')">About</a> 
</div>

<div class="icon-bar-sticky">
  <a class="why" (click)="scrollTo('why')">Why</a> 
</div>

<main class="page">
  <section class="clean-block about-us gradientWhy" style="background-color:#ecc7c0;padding-bottom:10px;">
      <app-whyandvalues></app-whyandvalues>
      <!--<app-what></app-what>-->
  </section>

    <app-how></app-how>

    <app-team></app-team>

</main>
<app-footer></app-footer>

