<section id="how" class="clean-block about-us gradientHow" style="background-color:#8bcbc8;padding-bottom:1px;">
    <div class="container">
        <div class="block-heading" style="padding-top:0;">
            <section class="index-howto-alt py-3" style="padding-top:5px;">
                <div class="container">
                    <h1 class="text-center mb-3" style="font-family:Armata, sans-serif;margin-top:40px;padding-bottom:25px;color:#3c2e3d;">The<strong>[Process]</strong></h1>
                    <p class="text-center" id="why" style="color:#3c2e3d;margin-bottom:20px;">
                
                            Simple and staright forward.
                    </p>
                    <div class="psd-line pos-rel" style="position:relative;">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-1 p-5"><img src="assets/img/scenery/image6.jpg" data-aos="fade-right" class="howto-img rounded-circle" style="height:170px;">
                            </div>
                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-left1">
                                <p data-aos="fade-up" class="m-0 text-center text-sm-left" style="color:#3c2e3d;">
                                    
                                    <strong>1.&nbsp;&nbsp;</strong> Information sharing for a clear understanding of the dream and defining the path. 
                                    <br>&#8688;&nbsp;&nbsp;How do you imagine your business in 1, 2, 5 or 10 years?
                                    <br>&#8688;&nbsp;&nbsp;What would you like to share with the world? 
                                    <br>&#8688;&nbsp;&nbsp;How would you like to impact it?  
                                </p>
                            </div>
                        </div>
                        <div class="row flex-column-reverse align-items-center flex-sm-row">
                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-right1">
                                <p data-aos="fade-up" data-aos-duration="600" class="m-0 text-center text-sm-left" style="color:#3c2e3d;">
                                    
                                    <strong>2.&nbsp;&nbsp;</strong> Thinking and building the path, brick by brick: 
                                    <br>&#8688;&nbsp;&nbsp;Continuos communication
                                    <br>&#8688;&nbsp;&nbsp;Development of the solution
                                    <br>&#8688;&nbsp;&nbsp;Building your image represents your WHY  
                                </p>
                            </div>
                            <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-2 p-5"><img src="assets/img/scenery/image1.jpg" data-aos="fade-left" class="howto-img rounded-circle">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-3 p-5"><img src="assets/img/scenery/image4.jpg" data-aos="fade-right" class="howto-img rounded-circle"> 
                            </div>
                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-left2">
                                <p data-aos="fade-up" data-aos-duration="600" class="m-0 text-center text-sm-left" style="color:#3c2e3d;">
                                    
                                    <strong>3.&nbsp;&nbsp;</strong> Building and deploying the sources at a predefined date. This is a significant stage of the process 
                                    in the development of your dream. Celebrate the milestones of the yourney.
                                </p>
                            </div>
                        </div>
                        <div class="row flex-column-reverse align-items-center flex-sm-row">
                            <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-right2">
                                <p class="m-0 text-center text-sm-left">
                                    
                                    <strong>4.&nbsp;&nbsp;</strong> Everything we offer is <strong>free</strong>. Meaningful long term collaboration and providing increased 
                                    visibility of your business is our scope.
                                    <br>Meanwhile, our free sources can help inspire others in the industry 
                                    and our solutions can be a starting point for scaling.
                                </p>
                            </div>
                            <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-4 p-5"><img src="assets/img/scenery/image5.jpg" data-aos="fade-left" class="howto-img rounded-circle">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
