<div class="container" id="why">
    <div class="block-heading" style="padding-top:0;">
        <div class="block-heading" style="margin-bottom:0px;">
            <h1 style="color:#3c2e3d;font-family:Armata, sans-serif;">The<strong>[Drive]</strong></h1>
            <p class="text-center" id="why" style="color:#3c2e3d;margin-bottom:20px;">Why gritty? The meaning of the word is:... This is what moves us forward. Passion and perseverence. The inspiring journey. Just imagine being the biggest in your business. 
                Performing at the top, striving to reach higher levels. Your dreams, our mission. Making yout dream visible is our goal.
            </p>
            <h4 style="color:#3c2e3d;font-family:Armata, sans-serif;margin-bottom:-10px;">Passion. Perseverence. Free. Community. Contribution.</h4>
        </div>
    </div>
</div>
