<div class="container" id="why">
    <div class="block-heading" style="padding-top:0;">
        <div class="block-heading" style="margin-bottom:0px;">
            <h1 style="color:#3c2e3d;font-family:Armata, sans-serif;">Why</h1>
            <p class="text-center" id="why" style="color:#3c2e3d;margin-bottom:20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Random text</p>
            <h4 style="color:#3c2e3d;font-family:Armata, sans-serif;margin-bottom:-10px;">Value. Principle. Why.</h4>
        </div>
    </div>
</div>
