<div class="container" id="why">
    <div class="block-heading" style="padding-top:0;">
        <div class="block-heading" style="margin-bottom:0px;">
            <h1 style="color:#3c2e3d;font-family:Armata, sans-serif;">The<strong>[Drive]</strong></h1>
            <p class="text-center" id="why" style="color:#3c2e3d;margin-bottom:20px;">Why gritty? Angela Duckworth defined it  This is what moves us forward. Passion and perseverence. The inspiring journey. Just imagine being the biggest in your business. 
                Performing at the top, striving to reach higher levels. Your dreams, our mission. Making yout dream visible is our goal.
            </p>
            <h4 style="color:#3c2e3d;font-family:Armata, sans-serif;margin-bottom:-10px;">Passion. Perseverence. Free. Community. Contribution.</h4>
            <a href="mailto:connect@grittyit.com">
                <button class="btn" type="button" style="margin-top:50px; margin-bottom: 15px;  border-radius:20px;border:none;width:180px; font-family:Armata, sans-serif; color: white; background-color: rgb(235, 165, 81)">Read more</button>
            </a>
        </div>
    </div>
</div>
